/* ===========================================================
Tablet Layout
============================================================== */

@media only screen and (min-width:200px) and (max-width:991px) {

    .inner_menu{
        background: none;
    }

    .inner_menu::after{
        display: none;
    }

    .mean-container .mean-nav {
        
        margin-top:0px;
        width: 90%;
    }
    
    .inner_menu {
        min-height: auto;
    }


    .inner_header {
        padding-top:20px;
        padding-bottom: 0px;
    }


    #slider_area {
        margin-top: 15px;
    }
    
    .hero_contents h1 {
        font-size: 40px;
        line-height: 1.5rem;
    }

    .child_service .service_image {
        width: 23%;
        margin-right: 1%;
    }

    .child_service .service_texts {
        width: 73%;
        margin-left: 1%;
    } 
    
    .child_auto_design {
        width: 29%;
        margin: 0 2%;
    }

    .child_auto_design h2 {
        font-size: 23px;
        
    }



    
}


@media only screen and (min-width:200px) and (max-width:480px) {
    .mini_menu{
        width: 100%;
        margin-bottom: 15px;
    }
    .mini_menu ul {
        text-align: center;
    }
    .search_area, .logo_area{
        float: none;
        width: 60%;
        margin: 0 auto;
    }
    

    .social_area {
        float: none;
        width: 100%;
        display: block;
        margin-top: 10px;
    }
    .social_area ul{
        text-align: center;
    }

    .social_area ul li {
        margin: 0px 5px;
    }

    .image_div {
        width: 96%;
        margin: 0 2%;
    }

    .hero_contents {
        width: 96%;
        margin: 0 2%;
    }

    .hero_contents h1 {
        font-size: 25px;
        line-height: 2.5rem;
    }

    .hero_contents p {
        margin-bottom: 10px;
        text-align: justify;
        font-size: 15px;
    }

    .hero_contents a {
        font-size: 12px;
    }

    #workers_area {
        padding: 10px 0px;
    }

    .child_auto_design {
        width: 96%;
        margin: 0 2%;
    }

    #footer_area {
        padding: 10px 0px;
    }
    

    .child_footer {
        width: 96%;
        float: left;
        margin: 0 2%;
    }

    .left_copyright {
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
    }

    .right_copyright {
        width: 100%;
        text-align: center;
    }
    








}